<section class="bottom cover pf zi2">
  <footer class="footer ma pr full">
    <p class="footer_left tar">COPYRIGHT 2015 | <a href="/credits">TRAFFIC DEFENDER</a> | ALL RIGHTS RESERVED</p>
    <svg class="logo_f orange pa"viewBox="0 0 50 56.9"preserveAspectRatio="xMinYMin slice">
      <use xlink:href="#logo_f" />
    </svg>
    <p class="footer_right tal">
      <a href="/privacy">PRIVACY POLICY</a> | <a href="/tos">TERMS OF SERVICE</a> | <a target="_top">BACK TO TOP</a>
    </p>
  </footer>
</section>