Dear {{username}},<br>
<br>
You are receiving this because you (or someone else) have requested the reset 
of the password for your account.<br>
<br>
Please click on the following link, or paste this into your browser to 
complete the process:<br>
<a href="{{resetLink}}">{{resetLink}}</a><br>
<br>
If you did not request this, please ignore this email and your password will 
remain unchanged.<br>
<br>
Best Regards,<br>
The TrafficDefender Team.<br>

