Dear {{username}},<br>
<br>
Your SMS credit is out of funds. Please buy more credits if you want to 
continue receiving notification SMS.<br>
<br>
<a href="{{link}}">Click here</a>.<br>
<br>
Best Regards,<br>
The TrafficDefender Team.<br>

