Dear {{contactName}},<br>
<br>
TrafficDefender has detected that the status of your campaign 
slot: {{urlName}} has changed at {{dateChanged}}.<br>
<br>
The current status is: <b>{{urlStatus}}</b>.<br>
You are advised to check your Landing Page URL: 
{{url}} .<br>
<br>
{{#resolveLink}}
If you do not want to receive any further notifications, please 
<a href="{{resolveLink}}">click here</a>.<br>
<br>
{{/resolveLink}}
Best Regards,<br>
The TrafficDefender Team.<br>

