Dear {{username}},<br>
<br>
Unfortunately you payment method got declined. We therefore had to stop your 
subscription. If you would like to continue your subscription please add a 
new payment method.<br>
<br>
Best Regards,<br>
The TrafficDefender Team.<br>

